변수(variable)는 처리할 데이터(상수, constant)를 기억하는 기억장소를 말한다.
변수 이름 작성 방법
영문자(대소문자를 구분한다.), 숫자, 특수문자('_'만 허용)를 사용할 수 있으며 반드시 문자로 시작해야 한다.
카멜 표기법(헝가리안 표기법) => totalCount와 같이 변수 이름이 2개 이상의 단어가 합쳐져서 구성될 때 2번째 이후 모든 단어의 첫 문자를 대문자로 표기한다.

In [6]:
# 파이썬은 C/C++이나 JAVA 언어와는 달리 변수를 선언할 때 변수의 자료형을 지정하지 않는다.
# 변수에 저장되는 데이터의 타입에 따라서 자동으로 변수의 자료형이 결정된다. => javascript도 이런 방식으로 사용한다.
# '='는 같다라는 의미로 사용되지 않고, '=' 오른쪽의 데이터를 '=' 왼쪽의 기억장소에 저장하라는 의미로 사용된다. => 대입문
# 같다는 '=='와 같이 '=' 2개를 연속해서 사용해야 같다로 인식한다.
a = '홍길동'
print(type(a)) # <class 'str'> => 문자열
print(a)
a = 100
print(type(a)) # <class 'int'> => 정수
print(a)
a = 3.141592
print(type(a)) # <class 'float'> => 실수
print(a)
# 파이썬은 참, 거짓을 의미하는 True와 False가 있다. => 반드시 첫 문자만 대문자로 써야한다.
a = True
print(type(a)) # <class 'bool'> => 논리값
print(a)

<class 'str'>
홍길동
<class 'int'>
100
<class 'float'>
3.141592
<class 'bool'>
True

input() 함수로 키보드로 입력하는 데이터를 받을 수 있다. => 무조건 문자열 형태로 받는다.

In [10]:
# input('메세지'): 메세지를 화면에 출력하고 데이터를 입력받는다.
name = input('이름을 입력하세요: ')
print(type(name))
print('{}님 안녕하세요' .format(name))

이름을 입력하세요: 홍길동
<class 'str'>
홍길동님 안녕하세요

In [14]:
# input() 함수는 무조건 문자열 형태로 데이터를 입력받기 때문에 정수나 실수 데이터로 받으려면 입력받은 후
# int() 함수나 float() 함수를 사용해서 숫자로 변환시킨 후 사용해야 한다. (형변환)
age = int(input('나이를 입력하세요 : '))
print(type(age))
print('{}님은 {}살입니다.' .format(name, age))
print('{}님은 내년에 {}살입니다.' .format(name, age + 1))

나이를 입력하세요 : 20
<class 'int'>
홍길동님은 20살입니다.
홍길동님은 내년에 21살입니다.

In [15]:
age = input('나이를 입력하세요 : ')
print(type(age))
print('{}님은 {}살입니다.' .format(name, age))
print('{}님은 내년에 {}살입니다.' .format(name, int(age) + 1))

나이를 입력하세요 : 32
<class 'str'>
홍길동님은 32살입니다.
홍길동님은 내년에 33살입니다.

In [19]:
# split() 메소드 사용하면 구분자를 경계로 문자열을 분리할 수 있다. => 구분자를 지정하지 않으면 공백이 기본 구분자로 사용된다.
print('Hello Python Good')
print('Hello Python Good'.split())

Hello Python Good
['Hello', 'Python', 'Good']

In [22]:
name, age = input('이름과 나이를 입력하세요: ').split()
print('{}님은 {}살입니다.' .format(name, age))
print('{}님은 내년에 {}살입니다.' .format(name, int(age) + 1))

이름과 나이를 입력하세요: 전장훈 62
전장훈님은 62살입니다.
전장훈님은 내년에 63살입니다.

In [33]:
python, java, android = input('세 과목 점수를 입력하세요: ').split()
totalSum = int(python) + int(java) + int(android)
print('{}님의 총점은 {}점입니다.' .format(name, totalSum))

세 과목 점수를 입력하세요: 100 100 100
전장훈님의 총점은 300점입니다.

In [36]:
# map() 함수를 사용하면 입력받은 데이터를 split() 메소드로 공백을 경계로 나눠서 한꺼번에 숫자로 변환할 수 있다.
# map(자료형[int 또는 float], input('메세지').split())
python, java, android = map(int,input('세 과목 점수를 입력하세요: ').split())
totalSum = int(python) + int(java) + int(android)
print('{}님의 총점은 {}점입니다.' .format(name, totalSum))

세 과목 점수를 입력하세요: 85 94 98
전장훈님의 총점은 277점입니다.